<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java1234.c03relation.sec01duoVSyi.mappers.StudentMapper">
    <!-- 方式一：级联方式-->
    <!--<resultMap type="Student" id="StudentResult">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="address.id" column="addressId"/>
        <result property="address.sheng" column="sheng"/>
        <result property="address.shi" column="shi"/>
        <result property="address.qu" column="qu"/>
    </resultMap>-->

    <!-- 方式二：association使用单独resultMap方式-->
    <!--<resultMap type="Address" id="AddressResult">
        <result property="id" column="id"/>
        <result property="sheng" column="sheng"/>
        <result property="shi" column="shi"/>
        <result property="qu" column="qu"/>
    </resultMap>
    <resultMap type="Student" id="StudentResult">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <association property="address" resultMap="AddressResult"/>
    </resultMap>-->

    <!-- 方式三：association内置使用对象类型属性-->
    <!--<resultMap type="Student" id="StudentResult">
       <id property="id" column="id"/>
       <result property="name" column="name"/>
       <result property="age" column="age"/>
       <association property="address" javaType="Address">
           <result property="id" column="id"/>
           <result property="sheng" column="sheng"/>
           <result property="shi" column="shi"/>
           <result property="qu" column="qu"/>
       </association>
   </resultMap>-->

    <!-- 方式四：对象mapper方法-->
    <resultMap type="Student" id="StudentResult">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <association property="address" column="addressId"
                     select="com.java1234.c03relation.sec01duoVSyi.mappers.AddressMapper.findById"></association>
    </resultMap>

    <select id="findStudentWithAddress" resultMap="StudentResult" parameterType="Integer">
		select * from t_student t1,t_address t2 where t1.addressId=t2.id and t1.id=#{id}
	</select>
</mapper> 