<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="jdbc.properties"/>
    <typeAliases>
        <!-- 别名的二种方式 1.扫描model所在包默认别名类名、2.对指定model起指定别名、-->
        <!-- <typeAlias alias="Student" type="com.ims.com.ims.model.Student"/>-->
        <package name="com.ims.model"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driverClassName}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!-- 注册映射mapper的三种方式：1.扫描Mapper所在包、2.加载xml、3.加载mapper类、-->
        <mapper resource="com/ims/mappers/StudentMapper.xml"/>
        <!--<package name="com.daily.mapper"/>-->
        <!--<mapper class="com.ims.c06annotate.com.ims.mappers.DogMapper"/>-->
    </mappers>
</configuration>