<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java1234.c04dynamicSql.mappers.StudentMapper">

    <resultMap type="Student" id="StudentResult">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
    </resultMap>

    <!-- if条件 -->
    <select id="searchStudentsIf" parameterType="Map" resultMap="StudentResult">
        select * from t_student
        where gradeId=#{gradeId}
        <if test="name != null">
            and name like #{name}
        </if>
        <if test="age != nulll">
            and age=#{age}
        </if>
    </select>

    <!-- choose（when、otherwise）条件 -->
    <select id="searchStudentsChose" parameterType="Map" resultMap="StudentResult">
        select * from t_student
        <choose>
            <when test="searchBy == 'gradeId'">
                where gradeId = #{gradeId}
            </when>
            <when test="searchBy == 'name'">
                where name like #{name}
            </when>
            <otherwise>
                where age = #{age}
            </otherwise>
        </choose>
    </select>

    <!-- where（if）条件 -->
    <select id="searchStudentsWhere" parameterType="Map" resultMap="StudentResult">
        select * from t_student
        <where>
            <if test="gradeId!=null">
                and gradeId = #{gradeId}
            </if>
            <if test="name!=null">
                and name like #{name}
            </if>
            <if test="age!=nulll">
                and age = #{age}
            </if>
        </where>
    </select>

    <!-- trim（if）条件 -->
    <select id="searchStudentsTrim" parameterType="Map" resultMap="StudentResult">
        select * from t_student
        <trim prefix="where" prefixOverrides="and|or" suffix="" suffixOverrides="">
            <if test="gradeId!=null">
                gradeId=#{gradeId}
            </if>
            <if test="name!=null">
                and name like #{name}
            </if>
            <if test="age!=nulll">
                and age=#{age}
            </if>
        </trim>
    </select>

    <!-- foreach（字段 in（1,2,3））条件 -->
    <select id="searchStudentsForeach" parameterType="Map" resultMap="StudentResult">
        select * from t_student
        <if test="gradeIds!=null">
            <where>
                gradeId in
                <foreach item="gradeId" collection="gradeIds" open="(" separator="," close=")">
                    #{gradeId}
                </foreach>
            </where>
        </if>
    </select>

    <update id="updateStudentSet" parameterType="Student">
        update t_student
        <set>
            <if test="name!=null">
                name=#{name},
            </if>
            <if test="age!=null">
                age=#{age},
            </if>
        </set>
        where id=#{id}
    </update>
</mapper> 